<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Student Lifecycle Management</title>
    {% load staticfiles %}
    <!-- CSS  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'portal/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'portal/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">IIITV</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="http://35.154.133.214:8000">Logout</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="http://35.154.133.214:8000">Logout</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
<!--Nav Bar-->
	<div class="row">
      <div class="col s9 offset-s2">
      	<table class="bordered highlight">
      	<thead>
          <tr>
              <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Course Name</td>
			<td>{{ course.name }}</td>
          </tr>
          <tr>
            <td>Course Code</td>
			<td>{{ course.code }}</td>
          </tr>
          <tr>
            <td>Instructor Name</td>
              <td><a href="{% url 'teacher_profile' assigned_course.teacher.teacher_id %}">{{ assigned_course.teacher }}</a></td>
          </tr>
        </tbody>
      	</table>
      	<table class="bordered highlight">
        <thead>
          <tr>
              <th>Course Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Roll No.</td>
            <td>Student Name</td>
            <td>Attendance</td>
          </tr>
          {% for course, att in array %}
              <tr>
                <td>{{ course.student }}</td>
                <td><a href="{% url 'student' course.student.student_id %}">{{ course.student.name }}</a></td>
                <td>{{ att }}%</td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
	</div>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'portal/js/materialize.js' %}"></script>
    <script src="{% static 'portal/js/init.js' %}"></script>
    <script src="{% static 'portal/js/teacherdetail.js' %}"></script>

  </body>
</html>
