<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block title %}Student Lifecycle Management{% block title %}</title>
    {% load staticfiles %}
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'portal/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'portal/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">IIITV</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="StudentProfile.html">Student Details</a></li>
        <li><a href="AcademicDetails.html">Academics Details</a></li>
        <li><a href="#">Fee Status</a></li>
        <li><a href="#">Submit Application</a></li>
        <li><a href="#">Application Status</a></li>
        <li><a href="#">Event Calendar</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="StudentProfile.html">Student Details</a></li>
        <li><a href="AcademicDetails.html">Academics Details</a></li>
        <li><a href="#">Fee Status</a></li>
        <li><a href="#">Submit Application</a></li>
        <li><a href="#">Application Status</a></li>
        <li><a href="#">Event Calendar</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
<!--Nav Bar-->
	{% block body %}

    {% endblock %}
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'portal/js/materialize.js' %}"></script>
  <script src="{% static 'portal/js/init.js' %}"></script>
  <script src="{% static 'portal/js/StudentDetails.js' %}">

  </script>

  </body>
</html>