<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Student Lifecycle Management</title>
{% load staticfiles %}

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'portal/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'portal/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body style="background-color: aliceblue">
  <nav style="background-color: #56676e;" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">IIITV</a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center" style="color:#56676e ">Student Lifecycle Management</h1>
      <div class="row center">
        <h5 class="header col s12 light" style="color:#56676e">An app to manage students lifecycle studying in colleges</h5>
      </div>

      <div class="row">
    	<form class="col s12">
      		<div class="row">
        		<div class="input-field col s4 offset-s4 center">
          		<i class="material-icons prefix">account_circle</i>
          		<input id="icon_prefix" type="text" class="validate username">
          		<label for="icon_prefix">UserID</label>
        		</div>
      		</div>
    	</form>
  	</div>
    <div class = "row">
    	<form class="col s12">
      		<div class="row">
           <div class="input-field col s4 offset-s4 center">
          	<i class="material-icons prefix">done</i>
          	<input id="password" type="password" class="validate secret">
          	<label for="password">Password</label>
        	</div>
			</div>
		</form>
    </div>

      <div class="row center loginbtn">
        <a href="#" id="download-button" class="btn-floating btn-large waves-effect waves-light red lighten-2 center">
			<i class="material-icons">arrow_forward</i>Login</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">assignment_ind</i></h2>
            <h5 class="center">Get personal Details</h5>

            <p class="light center">Get all the details you submitted in college.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Know Your Attendance</h5>

            <p class="light center">Know your attendance on-the-go without hassle.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">insert_chart</i></h2>
            <h5 class="center">Know your grades</h5>

            <p class="light center">Know your grades for all subjects anytime.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
	</div>

  <script>
    function redir() {
      location.replace("portal/student/profile/201651031");
    }
  </script>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'portal/js/materialize.js' %}"></script>
  <script src="{% static 'portal/js/init.js' %}"></script>
  <script src="{% static 'portal/js/auth.js' %}"></script>

  </body>
</html>
