<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Student Lifecycle Management</title>

    <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'portal/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'portal/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">IIITV</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/portal/student/profile/{{ student_profile.student_id }}">Student Details</a></li>
        <li><a href="/portal/student/detail/{{ student_profile.student_id }}">Academics Details</a></li>
        <li><a href="/portal/student/fees/{{ student_profile.student_id }}">Fee Status</a></li>
        <li><a href="/portal/student/applications/{{ student_profile.student_id }}">Submit Application</a></li>
        <li class="active"><a href="/portal/student/event/{{ student_profile.student_id }}">Event Calendar</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="StudentProfile.html">Profile</a></li>
        <li><a href="AcademicDetails.html">Academics Details</a></li>
        <li><a href="Financials.html">Fee Status</a></li>
        <li><a href="Applications.html">Submit Application</a></li>
        <li class="active"><a href="Events.html">Event Calendar</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
<!--Nav Bar-->
	<div class="row">

      <div class="col s3">
        <!-- Navigation panel -->
      <ul style="width:250px; margin-top:65px;" class="side-nav fixed">
		  <li class="grey"><a href="#">Academic Calendar</a></li>
      </ul>
      </div>

      <div class="col s9">
        <!-- Page content  -->
        <!--Table-->
        <a class="waves-effect waves-light btn" style="margin:20px" href="http://iiitvadodara.ac.in/pdf/AC-IIITV.pdf">Download</a>
      </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'portal/js/materialize.js' %}"></script>
  <script src="{% static 'portal/js/init.js' %}"></script>
  <script src="{% static 'portal/js/StudentDetails.js' %}"></script>
  <script src="{% static 'portal/js/AcademicDetails.js' %}"></script>
  <script src="{% static 'portal/js/applications.js' %}"></script>

  </body>
</html>
